body
{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	background-image: url(../img/play01.jpg);
	background-size: cover;
	/* background-position: center; */
}
.register-form
{
	display: none;
}

.sign-up-from
{
	width: 300px;
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
	background: #F8F8F8;
	background-color:rgba(244, 251, 251, 0.26);
	padding: 20px;
	margin: 8% auto 0;
	text-align: center;
	left:50%;
	top: 50%;
	transform: translateY(-50%,-50%);
}

.sign-up-from h1
{
	color: #1c8adb;
	margin-bottom: 30px;
}
.input-box
{
	padding-left:62px; 
    padding-right:20px; 
	border-radius: 20px;
	background: #F8F8F8;
	padding: 10px;
	margin: 10px 0;
	width: 90%;
	border: 1px solid #999;
	outline: none;
}

.check
{
	border-radius: 20px;
	background: #F8F8F8;
	padding: 10px;
	margin: 10px 0;
	margin-top: -20px;
	width: 60%;
	border: 1px solid #999;
	outline: none;
}
button
{
	color: #fff;
	width: 100%;
	padding: 10px;
	border-radius: 20px;
	font-size: 15px;
	margin: 10px 0;
	border: none;
	outline: none;
	cursor: pointer;
}
.sign-up-btn
{
	background-color: #1C8ADB;
}
.register-btn
{
	background-color: #21afde;
}
.imgs
{
	width: 70px;
	margin-top: -50px;
}
.message 
{
	margin: 15px 0 0;
	color: 	#000000;
	font-size: 14px;
}
span
{
	color: 	#303030;
	font-size: 14px;
}
img
{
	width: 80px;
	margin-top: 20px;
}
.message a
{
	text-decoration: none;
}
